@media screen and (max-width: 576px) {
  .nav ul li,
  i {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content{
     text-align: center;
  }
  .sponsors-img{
    grid-template-columns: repeat(4, 1fr);
  }
}
