@media screen and (max-width: 576px) {
  .nav ul li,
  i {
    display: none;
  }
  .nav{
   margin: 0 5px;
  }

  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-content{
   justify-content: center;
   align-items: center;
   text-align: center;
  }
  .sponsors-img{
    grid-template-columns: repeat(4, 1fr);
  }
  main{
 width: 90%;
  }
  .cart-container{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
   
  }
}
