body {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-weight: 700;
  font-weight: 500;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
header {
  width: 80%;
  margin: 50px auto;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                      manu-bar
=++==++==++==++==++==++==++==++==++==++==++==++= --> */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.nav h3 {
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                          manu-bar
=++==++==++==++==++==++==++==++==++==++==++==++= --> */

.banner-container {
  margin-top: 60px;
  display: flex;
  gap: 130px;
  justify-content: center;
  align-items: center;
  background-image: url("");
}
.banner-content {
  color: rgb(58, 58, 58);
  text-align: left;
}
.banner-content h1 {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 1rem;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 1rem;
}
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  padding: 10px 24px;
  border: none;
}
.banner-img img {
  width: 100%;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                      Sponsors-img
=++==++==++==++==++==++==++==++==++==++==++==++= --> */
.sponsors-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.sponsors-img {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(7, 1fr);
}
.sponsors-img img {
  width: 100%;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                 Popular Collection
=++==++==++==++==++==++==++==++==++==++==++==++= --> */
.Popular-Collection-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.Popular-Collection-container h3 {
  color: rgb(58, 58, 58);
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 30px;
}
.cart-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.cart-content {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 17px 14px;
}
.cart-content img {
  width: 100%;
}
.cart-content h4 {
  color: rgb(24, 25, 31);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 6px;
}
.cart-content h3 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 1rem;
}
.cart-content p {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  text-align: left;
}
.right-arrow {
  margin-top: 32px;
  margin-bottom: 50px;
  text-align: right;
  color: rgba(224, 44, 109, 0.87);
}
.right-arrow p {
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
Featured products at one place
=++==++==++==++==++==++==++==++==++==++==++==++= --> */

.Featured-products-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.Featured-products-img {
  width: 600px;
  border-radius: 8px;
}
.Featured-products-img img {
  width: 100%;
}
.Featured-products-content h3 {
  color: rgb(10, 8, 38);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 1rem;
}
.Featured-products-content p {
  color: rgb(108, 108, 108);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 1rem;
}
.btn-sencondary {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 10px 24px 10px 24px;
  background: rgb(224, 44, 109);
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                    footer-section
=++==++==++==++==++==++==++==++==++==++==++==++= --> */
.Influencer-section {
  width: 100%;
  margin: auto 0;
  border: 2px solid green;
  margin-top: 50px;
}
.Influencer-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(170, 170, 170);
}
.Influencer-container h3 {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 5px;
}
.Influencer-container p {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
.social-icon {
  margin-top: 15px;
  width: 17.07px;
  height: 17.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
