@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-weight: 700;
  font-weight: 500;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 80%;
  margin: 50px auto;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                      manu-bar
=++==++==++==++==++==++==++==++==++==++==++==++= --> */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.nav h3 {
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
/* <!-- =++==++==++==++==++==++==++==++==++==++==++==++=
                          manu-bar
=++==++==++==++==++==++==++==++==++==++==++==++= --> */

.banner-container {
  margin-top: 60px;
  display: flex;
  gap: 130px;
  justify-content: center;
  align-items: center;
  background-image: url("");
}
.banner-content {
  color: rgb(58, 58, 58);
  text-align: left;
}
.banner-content h1 {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 1rem;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 1rem;
}
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  padding: 10px 24px;
  border: none;
}
.banner-img img {
  width: 100%;
}
